:root {
  font-size: 62.5%;
  --primary-color: hsl(240, 6%, 21%);
  --bg-primary-color: hsl(240, 9%, 89%);
  --bg-selected-color: hsl(194, 97%, 31%);
  --selected-color: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.change-mode {
  display: flex;
  flex-direction: row-reverse;
}

.change-mode button {
  margin: 6.0rem 6.0rem 0 0;
} 


#light-mode svg path {
  fill: var(--selected-color)
}

#dark-mode svg path {
  fill: var(--primary-color)
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19.2rem;

  font-family: 'Roboto', sans-serif;
  font-weight: 50rem;
  font-size: 12.617rem;
  line-height: 14.785rem;

  color: var(--primary-color);
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9.2rem 0;
}

.right-side {
  margin: 9.2rem 0;
  display: grid;
  grid-template-columns: 13.8rem 13.8rem;
  gap: 3.2rem;
} 

.timer-display {
  display: flex;
}

button {
  border: none;
  background: transparent;
}

.sound-controls,
.sound-controls path {
  background-color: var(--bg-primary-color);
  fill: var(--primary-color);

  height: 15.2rem;
  width: 13.8rem;
  border-radius: 2.4rem;

  transition: transform 200ms;
  position: relative;
}

.btn-selected,
.btn-selected path {
  background-color: var(--bg-selected-color);
  fill: var(--selected-color);

  height: 15.2rem;
  width: 13.8rem;
  border-radius: 2.4rem;

  transition: transform 200ms;
}

.btn-selected input {
  margin-top: 3.2rem;
  width: 9.0rem;
  height: 4px;
  appearance: none;
  background-color: var(--selected-color);

  border-radius: 5px;
}

.btn-selected input::-webkit-slider-thumb {
  background-color: var(--selected-color);
}

button:hover {
  cursor: pointer;
}

.sound-controls:hover,
.btn-selected:hover {
  transform: scale(1.1)
}

.volume {
  margin-top: 3.2rem;
  width: 9.0rem;
  height: 4px;
  appearance: none;
  background-color: var(--primary-color);

  border-radius: 5px;

}

.volume::-webkit-slider-thumb {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
}

.hide {
  display: none;
}